﻿﻿@model WebApplication11.Models.Topic
@{ ViewBag.Title = "Details"; }

<h2>Details</h2>

@Html.ValidationSummary(false, "", new { @class = "text-danger" })
@using (Html.BeginForm("Details", "Topics", FormMethod.Post))
{
    @Html.HiddenFor(u => u.Id)
    <div class="form-horizontal">
        <hr />
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(u => u.Name)</dt>
            <dd>
                @Html.DisplayFor(u => u.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(u => u.CourseId)
            </dt>
            <dd>
                @Html.DisplayFor(u => u.CourseId)
            </dd>

        </dl>
    </div>}

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>