﻿﻿@model IEnumerable<WebApplication11.Models.Topic>

@{ ViewBag.Title = "Index"; }

<h2>Topics</h2>
@if (User.IsInRole("TrainingStaff"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
@using (Html.BeginForm("Index", "Topics", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>}
<table class="table">
    <tr>
        <th>Name</th>
        <th>Course Name</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Details</th>

    </tr>

    @foreach (var topic in Model)
    {
        <tr>
            <td>@topic.Name</td>
            <td>@topic.Course.Name</td>
            <td>@Html.ActionLink("Edit", "Edit", new { id = topic.Id })</td>
            <td>@Html.ActionLink("Delete", "Delete", new { id = topic.Id })</td>
            <td>@Html.ActionLink("Details", "Details", new { id = topic.Id })</td>

        </tr>
}

</table>

@Html.ActionLink("Back to home", "Index", "Home")
